<div class="profile">
  <div class="user-img">
    <img src="http://www.gravatar.com/avatar/<%= @gravatar %>?s=200">
  </div>

  <div class="user-welcome">
    <h1>Welcome <%= current_user.name%>!</h1>
  </div>
  <div class="user-information">
    <ul class="profile-tabs">
      <li id="decks"class="selected"><a href="#decks">Your Decks</a></li>
      <li id="stats" class="unselected"><a href="#stats">Your Stats</a></li>
    </ul>
    <div class="user-info">
      <div class="decks">
        <%= erb :'decks/user_decks' %>
        <a href="/decks/new">Create Deck</a>
      </div>
      <div class="stats" style="display: none;">
        <%= erb :'user_views/_user_history' %>
      </div>
    </div>
  </div>