<div id='signup_page'>

  <h2>Sign up:</h2>

  <section class="signup_container">

    <form id="signup" action="/sign_up" method="post">
      <input type="text" id="ls_box" name="user[name]" placeholder="Name" required><br><br>
      <input type="text" id="ls_box" name="user[email]" placeholder="Email" required><br><br>
      <input type="password" id="ls_box" name="user[password]" placeholder="Password" required><br><br>
      <input type="submit" id='login_button' value="Sign Up!">
    </form>

  </section>

</div>
