/*.container {
  margin: 100px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}*/

th {
  text-align: left;
}

.errors {
  background-color: red;
  border-radius: 8px;
  margin: 20px;
}

.errors ul {
  list-style: none;
}

.saved-card {
  background-color: yellow;
}

.current_cards-list {
  list-style: none;
}

body {
   background-image: url('pool_table1.png');
}

.container {
  margin-top: 1%;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
}

.profile {
  margin-left: 10%;
  margin-right: 10%;
}

.user-img {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  overflow: auto;
}

.user-welcome {
  float: left;
  text-align: left;
  margin-top: -230px;
  margin-left: 250px;
}

.user-information {
  margin-top: -125px;
}

.user-info {
  margin-left: 22%;
}

.user-decks {
  list-style: none;
  padding: 0px;
}

.user-decks li {
  font-size: 26px;
  hover: none;
}

.profile-tabs {
  margin-left: 18%;
}

.profile-tabs li {

-webkit-border-radius: 12px 12px 0 0; /* Saf3-4 */
  border-radius: 12px 12px 0 0; /* Opera 10.5, IE9, Saf5, Chrome */
  border:1px solid white;
  display:inline;
  list-style-type:none;
  padding:5px;
}
li:hover {background:white;}
li a {text-decoration:none; color:white;}
li a:hover {color:black;}

li.selected {
  border-bottom: none;
}
