/*.container {
  margin: 100px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}*/

th {
  text-align: left;
}

.errors {
  background-color: red;
  border-radius: 8px;
  margin: 20px;
  margin-top: 200px;
  margin-bottom: -100px;
  text-align: center;
  width: 50%;
  margin-left: 400px;
  font-size: 24px;
  color: white;
}

.errors ul {
  list-style: none;
}

.saved-card {
  background-color: yellow;
}

.current_cards-list {
  list-style: none;
}

body {
   background-image: url('pool_table1.png');
}

.container {
  margin-top: 1%;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
}

.profile {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.user-img {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  overflow: auto;
}

.user-welcome {
  float: left;
  text-align: left;
  margin-top: -230px;
  margin-left: 250px;
}

.user-information {
  margin-top: -125px;
}

.user-info {
  margin-left: 22%;
}

.user-decks {
  list-style: none;
  padding: 0px;
}

.user-decks li {
  font-size: 26px;
  hover: none;
}

.profile-tabs {
  margin-left: 18%;
}

.profile-tabs li {

-webkit-border-radius: 12px 12px 0 0; /* Saf3-4 */
  border-radius: 12px 12px 0 0; /* Opera 10.5, IE9, Saf5, Chrome */
  border:1px solid white;
  display:inline;
  list-style-type:none;
  padding:5px;
}
li:hover {background:white;}
li a {text-decoration:none; color:white;}
li a:hover {color:black;}

li.selected {
  border-bottom: none;
}

.decks {
  float: left;
  border: 2px solid white;
  border-radius: 20px;
  padding: 40px;
  padding-right:231px;
}

.stats {
 float: left;
  border: 2px solid white;
  border-radius: 20px;
  padding: 40px;
  padding-right:231px; 
}

.create_deck {
  float: right;
}

table {
  color: white;
}


th {
  padding: 10px;
}

td {
  padding: 10px;
}

.stats h3{
  color: white;
  text-shadow: black 0.1em 0.1em 0.3em;
}

.create_deck button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#739c3e), to(#65a9d7));
   background: -webkit-linear-gradient(top, #739c3e, #65a9d7);
   background: -moz-linear-gradient(top, #739c3e, #65a9d7);
   background: -ms-linear-gradient(top, #739c3e, #65a9d7);
   background: -o-linear-gradient(top, #739c3e, #65a9d7);
   padding: 12px 24px;
   -webkit-border-radius: 23px;
   -moz-border-radius: 23px;
   border-radius: 23px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.create_deck button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.create_deck button:active {
   border-top-color: #1b435e;
   background: #1b435e;
  }

.create_deck {
  margin-right: -200px;
}

.list_of_decks {
  margin-top: -30px;
}

.deck-new-container {
  margin-top: 100px;
  text-align: center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.3em;
}

.deck-new-container label {
  padding: 20px;
  font-size: 22px;
}

.deck-new-container input {
  font-size: 30px;
  padding: 18px;
}

#new-deck-button {
   margin-top: 10px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e4b9c), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e4b9c, #65a9d7);
   background: -moz-linear-gradient(top, #3e4b9c, #65a9d7);
   background: -ms-linear-gradient(top, #3e4b9c, #65a9d7);
   background: -o-linear-gradient(top, #3e4b9c, #65a9d7);
   padding: 12px 24px;
   -webkit-border-radius: 23px;
   -moz-border-radius: 23px;
   border-radius: 23px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

.add-cards-container{
  margin-top: 100px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 375px;
  margin-right: 300px;
  padding-bottom: 50px;
  text-shadow: black 0.1em 0.1em 0.3em;
}

.add-cards-container label {
  font-size: 22px;
  padding-right: 10px;
}

.add-cards-container input {
  font-size: 30px;
}

.add-cards-container button {
  border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e4b9c), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e4b9c, #65a9d7);
   background: -moz-linear-gradient(top, #3e4b9c, #65a9d7);
   background: -ms-linear-gradient(top, #3e4b9c, #65a9d7);
   background: -o-linear-gradient(top, #3e4b9c, #65a9d7);
   padding: 12px 24px;
   -webkit-border-radius: 23px;
   -moz-border-radius: 23px;
   border-radius: 23px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

#add_card_done {
  border-top: 1px solid #f79797;
   background: #d66565;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#d66565));
   background: -webkit-linear-gradient(top, #9c3e3e, #d66565);
   background: -moz-linear-gradient(top, #9c3e3e, #d66565);
   background: -ms-linear-gradient(top, #9c3e3e, #d66565);
   background: -o-linear-gradient(top, #9c3e3e, #d66565);
   padding: 12px 24px;
   -webkit-border-radius: 23px;
   -moz-border-radius: 23px;
   border-radius: 23px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.current-cards{
  margin-top: -365px;
  margin-left: 150px;
  margin-right: 75%;
  color: white;
  text-shadow: black 0.1em 0.1em 0.3em;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
}

.signup {
  width: 50%;
}

.login {
  width: 50%;
  float: right;
  margin-top: -500px;
}
