.question_container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 2px solid #34740e;
  border-radius: 40px;
  background-color: #FDF5E6;
}

#deck_topic {
  padding-top: 75px; 
  margin-bottom: 30px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.3em;
  text-align: center;
  font-family:arial, helvetica, sans-serif; 
  font-variant: small-caps;
  font-size: 3em;
  font-weight: bolder;  
}

#card_question {
  margin-top: 30px;	
  margin-bottom: 30px;
  text-align: center;
  font-family:arial, helvetica, sans-serif; 
  font-variant: small-caps;
  font-size: 3em;
  font-weight: bolder;	
}

h2 {
  text-align: center;
}


/* .card_container houses the 3D space */
.card_container {
  width: 700px;
  height: 200px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}


/* #card acts as a wrapper for the 3D object */
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	   -o-backface-visibility: hidden;
	      backface-visibility: hidden;
}

#card .front {
  font-size: 10em;
  font-weight: bolder;
  background-image:url('grey_wash_wall.png');
}

#card .back {
  font-size: 4em;	
  background-color: #1E90FF;  
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
  
}

#card.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

#guess {
  margin-top: 50px;
}

#guess_form {
  text-align: center;
}

#guess_box {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

#flip_button {
 border:1px solid #34740e; 
 border-radius: 3px;
 font-size:20px;
 font-family:arial, helvetica, sans-serif; 
 padding: 10px 10px 10px 10px; 
 text-decoration:none; 
 display:inline-block;
 text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
 font-weight:bold; 
 color: #FFFFFF;
 background-color: #4ba614; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
 background-image: -o-linear-gradient(top, #4ba614, #008c00);
 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}



