<!-- this is a partial, use locals to pass in the deck information --> 
<h1>Start Round</h1>
<form action="/rounds" method="post">
<input type="hidden" name="round[deck_id]" value="<%= deck.id %>">
<input type="submit" value="Start a New Round">
</form>
