<div class='list_of_decks'>
<ul class='user-decks'>
  <% current_user.decks.each do |deck| %>
    
    <form action="/rounds" method="post">
      <p><%=deck.topic%></p>
      <input type="hidden" name="round[deck_id]" value="<%= deck.id %>">
      <input type="submit" id="deck_play" value="Play Deck">
    </form>
    <br>
  <% end %>
 
 </div>

