<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/nav_bar.css">
  <link rel="stylesheet" href="/css/display_card.css">
   <link rel="stylesheet" href="/css/login_signup.css">
  <link rel="stylesheet" href="/css/user_decks.css">
  <link rel="stylesheet" href="/css/round_complete.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/display_card.js"></script>


  <title></title>
</head>
<body>
  <%= erb :_nav_bar %>
  <div class="container">
    <div class="errors">
      <%= erb :_error_messages %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
